li{
    padding: 15px;
    font-size: 18px;
}
.list_tasks li, .tasks{
    box-shadow: 0 4px 2px -2px gray;
}
.tasks_title{
    font-size: 20px;
    font-weight: 700;
}
.tasks_inf{
    margin: 0 10px;
}
.list_tasks li, .filtered_tasks{
    border-bottom: 1px solid #BFBFBF;
}
.remove{
    background-color: black;
    border-radius: 2px;
    text-align: right;
    color: #fdfcfc;
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    float: right;
}
.btn_clear_all{
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}


